# Dependencies
node_modules/

# Playwright outputs
test-results/
playwright-report/
reports/

# Allure
allure-results/
allure-report/

# Build outputs
dist/

# Environment files
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
